* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    touch-action: none;
}

html,
body{
    margin: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

body {
    touch-action: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
}

#fps-counter{
    position: fixed;
    width: 25px;
    top: 0;
    right: 0;
    color: white;
    background: black;
}

.button {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    transition: transform 0.25s;
}

.button:active {
    transform: scale(0.9);
}

#dropbox-button{
    border-radius: 3px;
    background-color: #007ee5;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    text-decoration: none;
    height: 24px;
}

.view {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #BBB;
    touch-action: none;
    overflow: hidden;
}

.dropbox-auth{
    align-items: center;
    justify-content: center;
}

.book {
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    overflow-y: scroll;
}

.paint{
    align-items: center;
    justify-content: center;
}

.paint #sheet {
    position: absolute;
    background: white;
    width: 100%;
    max-width: 133vh; /* limit width if screen is very wide and not very high  */
    z-index: -1;
}

@media (orientation: portrait) {
    .paint #sheet {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: -37.5vh;
        margin-left: 50vw;
    }
}

.paint canvas, .paint #overlay {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.paint #overlay{
    position: absolute;
    pointer-events: none;
    z-index: 1;
}

.paint canvas {
    z-index: -1;
}

.thumbnail {
    position: relative;
    margin: 20px;
    text-align: center;
    line-height: 192px;
    font-size: 50px;
    color: #CCC;
    background: white;
    border-radius: 4px;
    transition: transform 0.25s;
    flex-shrink: 0;
}

.thumbnail:active {
    transform: scale(0.9);
}

.thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    -webkit-touch-callout: default;
}

#back-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

.toolbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: lightgray;
    border-radius: 30px;
    margin-left: 10px;
    left: 0;
}

.toolbar .button {
    display: inline-block;
    background: transparent;
}

.palette {
    position: relative;
    padding: 5px;
    transition: transform 0.25s;
    display: inline-block;
    float: left;
    text-align: center;
    font-size: 30px;
}

.palette.collapsed:active {
    transform: scale(0.9);
}

.palette .options{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background: lightgray;
    border-radius: 30px;
    padding: 10px;
    left: 90px;
    transition: transform 0.15s;
}

.palette.collapsed .options{
    transform: scale(0.0);
}

.palette .option {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
    float: left;
    transition: transform 0.25s;
}

.palette .option:active {
    transform: scale(0.9);
}

.palette .options .arrow {
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -5px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 20px solid lightgray;
}

.hidden {
    display: none;
}

.disabled {
    opacity: 0.25;
}

/*# sourceMappingURL=index.2bc970b7.css.map */
